* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.cover-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  position: relative;
  height: 640px;
}

.title {
  text-align: center;
  margin-bottom: 32px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navigation {
  background-color: #fcd34d;
  width: 100%;
  height: 60px;
  color: #f3f4f6;
  display: flex;
}
.email-text {
  color: #93c5fd;
  text-decoration: none;
}
.text-white {
  color: white;
}

.text-light-gray {
  color: #9ca3af;
}

.btn-primary {
  background-color: #fcd34d;
  border-color: #fcd34d;
  color: #1f2937;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.flex-center {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  max-width: 100px;
  max-height: 100px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.efficientcy {
  background-color: #fcd34d;
}

.efficientcy .container {
  padding: 100px 20px;
}

.analysis-img {
  max-width: 100%;
  max-height: 80%;
}

.service-img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.flip {
  transform: scaleX(-1);
}

.bg-yellow {
  background-color: #fcd34d;
}

.overflow-hidden {
  overflow: hidden;
}

.max-h {
  max-height: 500px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1320px;
}

.star {
  color: #fcd34d;
  font-size: 1em;
  margin-right: .1em;
}

.qualities .list-group-item {
  padding: 1em 0;
  border: none;
}

.logo-img {
  display: inline;
  max-width: 100px;
  max-height: 100px;
}

.cover {
  object-fit: cover;
}

.h-screen {
  height: 100vh;
}

.va-center {
  vertical-align: middle;
}

a {
  text-decoration: none;
}
a h2 {
  color: white;
  text-decoration: none !important;
}

.tel {
  color: #fcd34d;
}